<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <a href="/"></a>
        </div>
        <div class="content">
            <h1>ORDERDETAIL</h1>
            <a href="/create_OD">Add OrderDetail</a>
            <table>
                <tr>
                    <th>OrderDetailID</th>
                    <th>OrderID</th>
                    <th>ProductID</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <% for(let i=0; i < orderDetails.length; i++) { %>
                    <tr>
                        <td>
                            <%= orderDetails[i].OrderDetailID %>
                        </td>
                        <td>
                            <%= orderDetails[i].OrderID %>
                        </td>
                        <td>
                            <%= orderDetails[i].ProductID %>
                        </td>
                        <td>
                            <%= orderDetails[i].Quantity %>
                        </td>
                        <td>
                            <%= orderDetails[i].Subtotal %>
                        </td>
                        
                        <td>
                            <a href="/update_OD/<%= orderDetails[i].OrderDetailID %>">Edit</a>
                        </td>
                        <td>
                            <a href="/deleteOD/<%= orderDetails[i].OrderDetailID %>">Delete</a>
                        </td>
                    </tr>
                    <% } %>
            </table>
        </div>
    </div>
</body>

</html>