<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="/products">Product</a></li>
        <li><a href="/orders">Order</a></li>
        <li><a href="/orderDetails">OrderDetail</a></li>
        <li><a href="/customers">Customer</a></li>
      </ul>
    <div class="container">

        <div class="content">
            <h1>PRODUCTS</h1>
            <a href="/create_P">Add Product</a>
            <table>
                <tr>
                    <th>ProductID</th>
                    <th>ProductName</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>StockQuantity</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <% for(let i=0; i < products.length; i++) { %>
                    <tr>
                        <td>
                            <%= products[i].ProductID %>
                        </td>
                        <td>
                            <%= products[i].ProductName %>
                        </td>
                        <td>
                            <%= products[i].Description %>
                        </td>
                        <td>
                            <%= products[i].Price %>
                        </td>
                        <td>
                            <%= products[i].StockQuantity %>
                        </td>
                        <td>
                            <a href="/update_P/ <%= products[i].ProductID %>">Edit</a>
                        </td>
                        <td>
                            <a href="/deleteP/<%= products[i].ProductID %>">Delete</a>
                        </td>
                    </tr>
                    <% } %>
            </table>
        </div>
    </div>
</body>

</html>