<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <ul>
        <!-- <li><a class="active" href="#home">Home</a></li> -->
        <li><a href="/products">Product</a></li>
        <li><a href="/orders">Order</a></li>
        <li><a href="/orderDetails">OrderDetail</a></li>
        <li><a href="/customers">Customer</a></li>
      </ul>
    <div class="container">
        <div class="content">
            <h1>ORDERS</h1>
            <a href="order/create_O">Add Order</a>
            <table>
                <tr>
                    <th>OrderID</th>
                    <th>Custimer Name</th>
                    <th>Product Amount</th>
                    <th>Product Total</th>
                    <th>OrderDetail</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <% for(let i=0; i < orders.length; i++) { %>
                    <tr>
                        <td>
                            <%= orders[i].OrderID %>
                        </td>
                        <td>
                            <%= orders[i].Customer.CustomerName %>
                        </td>
                        <td>
                            <%= orders[i].TotalAmount %>
                        </td> 
                        <td>
                            <%= 
                                (orders[i].TotalAmount * orders[i].Product.Price).toFixed(2)
                            %>
                        </td>
                        <td>
                            <a href="/order_detail/<%= orders[i].OrderID %>">Detail</a>
                        </td>
                        <td>
                            <a href="/update_O/<%= orders[i].OrderID %>">Edit</a>
                        </td>
                        <td>
                            <a href="/deleteO/<%= orders[i].OrderID %>">Delete</a>
                        </td>
                    </tr>
                    <% } %>
            </table>
        </div>
    </div>
</body>

</html>